body {
	box-sizing: border-box;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
#header-nav	{
	background-color: #088A85;
	border-radius: 0;
	border: 2px solid black;
	margin-bottom: -5px;
}
nav #header-content {
	padding: 0;
}
.navbar>.container-fluid .navbar-brand {
    padding: 0;
    margin: 10px 0 10px 15px;
}
.navbar-brand h1 {
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-header button.navbar-toggle {
	margin-right: 28px;
	margin-top: 15px;
	clear: both;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #fff;
}
div #food-list {
	width: 100%;
	padding: 0;
	margin: auto;
}
div #nav-list {
	padding: 0;
	margin: 0;
	background-color: #2A4D7E;
}
#nav-list li a {
	color: #fff;
	font-style: italic;
}
#nav-list li a:hover, #nav-list li a:focus {
	color: #969C9D;
}
#nav-list li hr {
	margin-top: 0;
	margin-bottom: 5px;
}
#mainblock {
	background-color: #A4A4A4;
	width: 100%;
	padding: 10px 25px 15px;
	margin: 0 auto 15px;
}
#subtitle h2 {
	margin-bottom: 40px;
}
#subtitle2 h3 {
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 0;
}
@media (max-width: 767px) {
	#body-content {
		margin-right: 40px;
		margin-left: 40px;
	}
	.container-fluid>.navbar-header {
    margin-left: 0;
	}
}